---
- name: restart node_exporter
  systemd:
    name: node_exporter
    state: restarted
    daemon_reload: true
  become: true

- name: reload node_exporter
  systemd:
    name: node_exporter
    state: reloaded
  become: true

- name: reload systemd
  systemd:
    daemon_reload: true
  become: true