---
- name: Generate web configuration file
  template:
    src: web.yml.j2
    dest: "{{ node_exporter_web_config_file }}"
    owner: "{{ node_exporter_user }}"
    group: "{{ node_exporter_group }}"
    mode: '0640'
  become: true
  notify: restart node_exporter
  when: node_exporter_tls_enabled

- name: Create systemd service file
  template:
    src: node_exporter.service.j2
    dest: /etc/systemd/system/node_exporter.service
    owner: root
    group: root
    mode: '0644'
  become: true
  notify:
    - reload systemd
    - restart node_exporter

- name: Create node_exporter environment file
  template:
    src: node_exporter.env.j2
    dest: /etc/default/node_exporter
    owner: root
    group: root
    mode: '0644'
  become: true
  notify: restart node_exporter

- name: Create textfile collector script
  template:
    src: textfile_collector.sh.j2
    dest: /usr/local/bin/node_exporter_textfile_collector.sh
    owner: root
    group: root
    mode: '0755'
  become: true

- name: Create cron job for textfile collector
  cron:
    name: "node_exporter textfile collector"
    minute: "*/5"
    job: "/usr/local/bin/node_exporter_textfile_collector.sh"
    user: "{{ node_exporter_user }}"
  become: true