---
# Common handlers

- name: Restart systemd-timesyncd
  ansible.builtin.systemd:
    name: systemd-timesyncd
    state: restarted

- name: Reload sysctl
  ansible.builtin.command: sysctl --system
  changed_when: true
