---
- name: Include system preparation tasks
  include_tasks: system.yml
  tags:
    - fail2ban
    - system

- name: Include installation tasks
  include_tasks: install.yml
  tags:
    - fail2ban
    - install

- name: Include configuration tasks
  include_tasks: configure.yml
  tags:
    - fail2ban
    - configure

- name: Include service management tasks
  include_tasks: service.yml
  tags:
    - fail2ban
    - service

- name: Include validation tasks
  include_tasks: validate.yml
  tags:
    - fail2ban
    - validate