---
- name: Allow wg_exporter port through UFW
  ufw:
    rule: allow
    port: "{{ wg_exporter_port }}"
    proto: tcp
    src: "{{ item }}"
    comment: "WireGuard Exporter metrics"
  loop: "{{ wg_exporter_firewall_source_ranges }}"
  become: true
  when: ansible_facts['os_family'] == "Debian"

- name: Allow wg_exporter port through firewalld
  firewalld:
    port: "{{ wg_exporter_port }}/tcp"
    permanent: true
    state: enabled
    immediate: true
    source: "{{ item }}"
  loop: "{{ wg_exporter_firewall_source_ranges }}"
  become: true
  when: ansible_facts['os_family'] == "RedHat"